# Entorno virtual
env/
venv/
.env

# Archivos de base de datos
*.sqlite3

# Archivos generados por Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de migraciones (opcional, si no quieres subirlas)
# migrations/

# Archivos de configuración local
*.log
local_settings.py

# Archivos de IDE
.idea/
*.sublime-workspace

# Archivos de sistema
.DS_Store

# For text files, use LF line endings
* text=auto eol=lf
